@font-face {
  font-family: "flanellaregular";
  src: url("../../police/flanella/flanella-webfont.eot");
  src: url("../../police/flanella/flanella-webfont.eot?#iefix") format("embedded-opentype"), url("../../police/flanella/flanella-webfont.svg#flanellaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caviar_dreamsregular";
  src: url("../../police/caviar_dreams/caviardreams-webfont.eot");
  src: url("../../police/caviar_dreams/caviardreams-webfont.eot?#iefix") format("embedded-opentype"), url("../../police/caviar_dreams/caviardreams-webfont.svg#caviar_dreamsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* website color */
/* Police size */
/* Font-family */
/* Media size : breakpoint */
html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF0E8;
  color: #466281;
  font-family: "caviar_dreamsregular";
}

h1, h2, h3 {
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
@media screen and (min-width: 1278px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 1278px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.3rem;
}
@media screen and (min-width: 1278px) {
  h3 {
    font-size: 2.3rem;
  }
}

h4 {
  font-size: 1.1rem;
}
@media screen and (min-width: 1278px) {
  h4 {
    font-size: 2.1rem;
  }
}

p, ul {
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 768px) {
  p, ul {
    line-height: 2.5rem;
  }
}

a {
  color: #FAF0E8;
  text-decoration: none;
  font-family: "caviar_dreamsregular";
}

.background-main {
  background-image: url("../Img/home/home-page.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.background {
  background-color: #98afc8;
  min-height: 28vh;
  max-height: 28vh;
}
@media screen and (min-width: 1024px) {
  .background {
    min-height: 30vh;
    max-height: 30vh;
  }
}

.logo {
  display: block;
  padding-top: 25px;
  margin: 0 18px 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  font-size: 1.5rem;
  color: #466281;
  font-family: "flanellaregular";
}
@media screen and (min-width: 484px) {
  .logo {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    justify-content: center;
    gap: 15px;
  }
  .logo p {
    font-size: 3.2rem;
  }
}
.logo img {
  max-width: 80px;
}
@media screen and (min-width: 768px) {
  .logo img {
    min-width: 100px;
  }
}

.side-logo {
  transform-origin: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  background: #466281;
}
@media screen and (min-width: 484px) {
  .side-logo {
    padding: 18px 18px 18px 0;
    gap: 10px;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .side-logo {
    padding-left: 80px;
    padding-top: 25px;
    justify-content: center;
    gap: 15px;
  }
  .side-logo p {
    font-size: 3.2rem;
  }
}
.side-logo img {
  height: 60px;
  margin: 10px;
}
@media screen and (min-width: 484px) {
  .side-logo img {
    height: 80px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .side-logo img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1278px) {
  #open-btn {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 15px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1278px) and (min-width: 484px) {
  #open-btn {
    top: 30px;
  }
}
@media screen and (max-width: 1278px) and (min-width: 768px) {
  #open-btn {
    left: 40px;
    top: 48px;
    transform: scale(1.5);
  }
}
@media screen and (max-width: 1278px) and (min-width: 1278px) {
  #open-btn {
    display: none;
  }
}
@media screen and (max-width: 1278px) {
  #open-btn .burger-line {
    padding: 0;
    transition: all 400ms 20ms ease-in-out;
    position: relative;
    display: block;
    height: 3px;
    width: 32.5px;
    border-radius: 10rem;
    background-color: #344960;
  }
  #open-btn .burger-line:before, #open-btn .burger-line::after {
    content: "";
    position: relative;
    display: block;
    height: 3.5px;
    width: 32.5px;
    border-radius: 10rem;
    background-color: #344960;
  }
  #open-btn .burger-line:before {
    top: 9px;
  }
  #open-btn .burger-line::after {
    bottom: 13px;
  }
}
.close-burger .burger-line {
  transform: rotate(225deg);
}
.close-burger .burger-line::before {
  transform: scale(0);
}
.close-burger .burger-line::after {
  transform: rotate(-270deg);
  height: 3px;
  top: -3.5px;
}

@media screen and (max-width: 1278px) {
  .main-menu {
    z-index: 1;
    transform-origin: left;
    border-top: 2px solid #FAF0E8;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    transform: scaleX(0);
    background: #466281;
    height: 100vh;
    padding-bottom: 20vh;
    overflow: scroll;
  }
}
@media screen and (max-width: 1278px) and (min-width: 768px) {
  .main-menu {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .nav-arrow, .main-menu .nav-arrow-2 {
    margin-top: 5px;
    display: inline-block;
    position: absolute;
    right: 10px;
    border-style: solid;
    border-color: #22303F transparent transparent transparent;
    border-width: 8px 6px 0 6px;
    transition: all 300ms ease;
    transform: rotate(0.75turn);
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .rotate-arrow {
    transform: rotate(1turn);
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .drop-menu, .main-menu .drop-menu-2, .main-menu a {
    color: #FAF0E8;
    cursor: pointer;
    display: block;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 1278px) and (min-width: 768px) {
  .main-menu .drop-menu, .main-menu .drop-menu-2, .main-menu a {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .drop-menu > ul, .main-menu .drop-menu-2 > ul, .main-menu a > ul {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 1278px) and (min-width: 768px) {
  .main-menu .drop-menu > ul, .main-menu .drop-menu-2 > ul, .main-menu a > ul {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .drop-menu > ul > li > ul, .main-menu .drop-menu-2 > ul > li > ul, .main-menu a > ul > li > ul {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 1278px) and (min-width: 768px) {
  .main-menu .drop-menu > ul > li > ul, .main-menu .drop-menu-2 > ul > li > ul, .main-menu a > ul > li > ul {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .drop-menu .under-menu, .main-menu .drop-menu .under-menu-2, .main-menu .drop-menu-2 .under-menu, .main-menu .drop-menu-2 .under-menu-2, .main-menu a .under-menu, .main-menu a .under-menu-2 {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transform: scale(0);
  }
}
@media screen and (max-width: 1278px) {
  .main-menu::scrollbar {
    display: none;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu a:hover, .main-menu .drop-menu:hover {
    background-color: #587ca2;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .drop-menu li:hover a, .main-menu .drop-menu li:hover {
    background-color: #7795b6;
  }
}
@media screen and (max-width: 1278px) {
  .main-menu .drop-menu-2 li:hover a {
    background-color: #22303F;
  }
}
@media screen and (max-width: 1278px) {
  @keyframes show-side-menu {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}
@media screen and (max-width: 1278px) {
  @keyframes show-under-menu {
    from {
      max-height: 0;
      transform: scale(0);
    }
    to {
      transform: scale(1);
      max-height: 50rem;
    }
  }
}
@media screen and (max-width: 1278px) {
  .background-drop-menu {
    background: #587ca2;
    border-bottom: 0.5px solid #FAF0E8;
  }
}
@media screen and (max-width: 1278px) {
  .background-drop-menu-2 {
    background: #7795b6;
  }
}
@media screen and (max-width: 1278px) {
  .show-under-menu {
    animation: show-under-menu 400ms ease-in-out forwards;
  }
}
@media screen and (max-width: 1278px) {
  .show-side-menu {
    animation: show-side-menu 300ms ease-in-out forwards;
  }
}
.lock-page {
  overflow: hidden;
}

@media screen and (min-width: 1278px) {
  .separation-line-menu {
    width: 96vw;
    height: 2px;
    background-color: #466281;
    margin: 20px auto;
  }
  .main-menu {
    color: #466281;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .main-menu * {
    list-style-type: none;
  }
  .main-menu > li > a {
    color: #466281;
  }
  .main-menu .nav-arrow {
    display: inline-block;
    position: relative;
    margin-bottom: 2.5px;
    margin-left: 10px;
    border-style: solid;
    border-color: #22303F transparent transparent transparent;
    border-width: 8px 6px 0 6px;
    transition: all 300ms ease-in-out;
    transform: rotate(0.75turn);
  }
  .main-menu .drop-menu:hover .nav-arrow {
    transform: rotate(1turn);
  }
  .main-menu .under-menu li {
    color: #FAF0E8;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px;
  }
  .main-menu .under-menu {
    background: #587ca2;
    position: relative;
    transform: scale(0);
    max-height: 0;
    transform-origin: top;
  }
  .main-menu .nav-arrow-2 {
    display: inline-block;
    position: absolute;
    margin-top: 4.5px;
    right: 10px;
    transition: all 300ms ease-in-out;
    border-style: solid;
    border-color: #FAF0E8 transparent transparent transparent;
    border-width: 8px 6px 0 6px;
  }
  .main-menu .under-menu li:hover .nav-arrow-2 {
    transform: rotate(-0.25turn);
  }
  .main-menu .under-menu li:hover {
    background: #22303F;
  }
  .main-menu .drop-menu:hover .under-menu {
    overflow: visible;
    animation: show-under-menu-1 400ms ease-in-out forwards;
  }
  .main-menu .under-menu-2 {
    position: absolute;
    background: #587ca2;
    left: 100%;
    transform: translateY(-55px);
    max-width: 0;
    overflow: hidden;
  }
  .main-menu .under-menu-2--photo {
    left: 100%;
  }
  .main-menu .drop-menu-2:hover .under-menu-2 {
    animation: show-under-menu-2 400ms ease-in-out forwards;
  }
  @keyframes show-under-menu-1 {
    from {
      transform: scale(0);
      max-height: 0;
    }
    to {
      transform: scale(1);
      max-height: 50rem;
    }
  }
  @keyframes show-under-menu-2 {
    from {
      max-width: 0;
    }
    to {
      max-width: 50rem;
    }
  }
  .top-arrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    position: fixed;
  }
  .top-arrow .first-part {
    background: #3d5671;
    height: 35px;
    width: 8px;
    border-radius: 10rem;
  }
  .top-arrow .second-part {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #3d5671;
    height: 25px;
    width: 8px;
    border-radius: 10rem;
    transform: rotate(45deg);
  }
  .top-arrow .third-part {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #3d5671;
    height: 25px;
    width: 8px;
    border-radius: 10rem;
    transform: rotate(-45deg);
  }
}
footer {
  color: #FAF0E8;
  background-color: #344960;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1278px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

.album {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1278px) {
  .album {
    margin-top: 0;
    gap: 0;
  }
}
.album__container {
  display: flex;
}
.album__container__imgs {
  display: flex;
  width: 80vw;
  justify-content: center;
  gap: 3px;
}
@media screen and (min-width: 1024px) {
  .album__container__imgs {
    width: 60vw;
  }
}
@media screen and (min-width: 1278px) {
  .album__container__imgs {
    width: 33.3333333333vw;
  }
}
.album__container__imgs img {
  border: 2px solid #FAF0E8;
  width: 26.6666666667vw;
}
@media screen and (min-width: 1024px) {
  .album__container__imgs img {
    margin: 5px;
  }
}
@media screen and (min-width: 1278px) {
  .album__container__imgs img {
    width: 11.1111111111vw;
  }
}
.album__container__left-arrow {
  cursor: pointer;
  position: relative;
  align-self: center;
  border-width: 1.5vw;
  border-style: solid;
  border-color: transparent transparent #FAF0E8 #FAF0E8;
  right: 10px;
  transform: rotate(45deg);
}
@media screen and (min-width: 1024px) {
  .album__container__left-arrow {
    border-width: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .album__container__left-arrow {
    height: 20px;
  }
}
.album__container__right-arrow {
  cursor: pointer;
  position: relative;
  align-self: center;
  border-width: 1.5vw;
  border-style: solid;
  border-color: transparent transparent #FAF0E8 #FAF0E8;
  left: 10px;
  transform: rotate(225deg);
}
@media screen and (min-width: 1024px) {
  .album__container__right-arrow {
    border-width: 15px;
  }
}

.separation-line-footer {
  display: block;
  background-color: #FAF0E8;
  width: 96vw;
  height: 1.5px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .separation-line-footer {
    margin: 30px;
  }
}
@media screen and (min-width: 1278px) {
  .separation-line-footer {
    width: 1.5px;
    height: 30vh;
  }
  .separation-line-footer--1 {
    order: -1;
  }
}

@media screen and (min-width: 1278px) {
  .contact-btn {
    order: -2;
  }
}
.contact-btn .btn-contact {
  font-size: 1rem;
  color: #FAF0E8;
  padding: 10px;
  border-radius: 10rem;
  border-color: #FAF0E8;
  border-style: solid;
  background: #466281;
  transition: transform 250ms ease-in-out, background-color 100ms 150ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .contact-btn .btn-contact {
    padding: 15px;
  }
}
.contact-btn .btn-contact:hover {
  cursor: pointer;
  background: #98afc8;
  box-shadow: none;
  border-width: 2px;
  color: #FAF0E8;
  transform: scale(1.25);
}

.copyright {
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  background-color: #22303F;
  color: #fff;
}
.intro > * > h1, .intro h2 {
  margin: 50px 20px;
}
.intro > * p {
  margin: 20px;
}
.intro > * > img {
  margin: 50px auto;
  display: block;
  max-width: 100vw;
}
@media screen and (min-width: 1024px) {
  .intro > * > img {
    max-width: 75vw;
  }
}
@media screen and (min-width: 768px) {
  .intro > * > img {
    max-width: 80vw;
  }
}
.intro > :first-child > :first-child {
  margin-top: 0;
  padding-top: 50px;
}
.intro > :first-child > :nth-child(0n+2) {
  text-align: center;
}
.intro > :last-child > :last-child {
  margin-bottom: 0;
  padding-bottom: 50px;
}

@media screen and (min-width: 1278px) {
  .intro {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .intro .intro__block-1 {
    display: block;
  }
  .intro :last-child {
    margin-bottom: 50px;
  }
  .intro > div {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .intro > * h2 {
    position: relative;
    top: 1.25rem;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0 0 0 130px;
    background-color: #22303F;
  }
  .intro .h2--reverse {
    grid-column: 2/3;
    margin: 0 130px 0 0;
  }
  .intro > * img {
    z-index: 1;
    max-width: 40vw;
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .intro .img--reverse {
    grid-column: 1/2;
  }
  .intro__bloc-txt {
    border: 1px solid #FAF0E8;
    grid-row: 2/3;
    grid-column: 1/3;
    max-width: 65vw;
    padding-right: 20vw;
    margin-left: 5vw;
  }
  .intro__bloc-txt--reverse {
    padding-right: 0;
    padding-left: 20vw;
    justify-self: flex-end;
    margin-right: 5vw;
  }
}
.container-last-article h1 {
  color: #3d5671;
  margin: 50px 0 30px;
  text-transform: uppercase;
}
.container-last-article .slides {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.container-last-article .slides::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1024px) {
  .container-last-article .slides {
    justify-content: space-evenly;
  }
}
.container-last-article .slides > * > div {
  scroll-snap-align: center;
  color: #FAF0E8;
  display: flex;
  max-width: 80vw;
  margin: 20px 10vw 50px;
  flex-direction: column;
  background-color: #3d5671;
  box-shadow: 1px 1px 20px #19232e;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 484px) {
  .container-last-article .slides > * > div {
    max-width: 50vw;
    margin: 30px 40vw;
  }
}
@media screen and (min-width: 1024px) {
  .container-last-article .slides > * > div {
    max-width: 20vw;
    margin: 0;
    margin-bottom: 40px;
  }
}
.container-last-article .slides > * > div:active {
  transform: scale(0.95);
}
.container-last-article .slides > * > div h2 {
  padding: 25px 10px;
  text-align: center;
  text-transform: uppercase;
}
.container-last-article .slides > * > div .date {
  letter-spacing: 0.1rem;
  text-align: right;
  padding: 20px 25px;
}
.container-last-article .slides > * > div .read-article {
  letter-spacing: 0.15rem;
  text-align: left;
  padding: 20px 25px;
  font-size: 1.5rem;
}
.container-last-article .slides > * > div .read-article span {
  border-style: solid;
  border-color: #FAF0E8 transparent transparent transparent;
  border-width: 8px 6px 0 6px;
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: 2.5px;
  transform: rotate(0.75turn);
}
.container-last-article .slider {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .container-last-article .slider {
    display: none;
  }
}
.container-last-article .slider > a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10rem;
  margin-bottom: 50px;
  background-color: #22303F;
}
.container-last-article .slider > a:nth-child(1) {
  margin-right: 10px;
}
.container-last-article .slider > a:nth-child(2) {
  margin-left: 10px;
}

.separation-line-article {
  height: 1.5px;
  width: 60vw;
  margin: auto;
  box-shadow: 0 0 10px #22303F;
  background-color: #22303F;
}

.in-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  text-align: center;
  color: #466281;
}
.in-progress h1 {
  margin: 5% 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
  max-width: 500px;
  border-radius: 100rem;
  background: radial-gradient(circle at 50% 50%, #374e67, #3f5874, #4d6d8e, #92aac4);
  margin-bottom: 5%;
}
.frame p {
  color: #FAF0E8;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .frame p {
    font-size: 2rem;
  }
}
.frame .dot {
  margin: 10px 10px;
  display: flex;
}
.frame .dot--1 {
  background: radial-gradient(circle, #e6e6e6, #cccccc, #666666);
  height: 10px;
  width: 10px;
  border-radius: 10rem;
  animation: first-dot 2500ms linear infinite;
}
@media screen and (min-width: 768px) {
  .frame .dot--1 {
    height: 15px;
    width: 15px;
  }
}
.frame .dot--2 {
  background: radial-gradient(circle, #e6e6e6, #cccccc, #666666);
  height: 10px;
  width: 10px;
  border-radius: 10rem;
  animation: second-dot 2500ms linear infinite;
}
@media screen and (min-width: 768px) {
  .frame .dot--2 {
    height: 15px;
    width: 15px;
  }
}
.frame .dot--3 {
  background: radial-gradient(circle, #e6e6e6, #cccccc, #666666);
  height: 10px;
  width: 10px;
  border-radius: 10rem;
  animation: third-dot 2500ms linear infinite;
}
@media screen and (min-width: 768px) {
  .frame .dot--3 {
    height: 15px;
    width: 15px;
  }
}

.cog-first {
  animation: turning-cog-right 15000ms linear infinite;
  position: relative;
  right: 68px;
  top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10rem;
  background: radial-gradient(circle, #000, #080808, #333333);
}
.cog-first__part {
  margin: auto;
  position: absolute;
  right: -12px;
  left: -12px;
  bottom: 45px;
  height: 10px;
  border-radius: 4px;
  background: radial-gradient(circle, #000, #050505, #262626);
}
.cog-first__part:nth-child(1) {
  transform: rotate(45deg);
}
.cog-first__part:nth-child(2) {
  transform: rotate(90deg);
}
.cog-first__part:nth-child(3) {
  transform: rotate(135deg);
}
.cog-first__part:nth-child(4) {
  transform: rotate(22.5deg);
}
.cog-first__part:nth-child(5) {
  transform: rotate(67.5deg);
}
.cog-first__part:nth-child(6) {
  transform: rotate(112.5deg);
}
.cog-first__part:nth-child(7) {
  transform: rotate(157.5deg);
}
.cog-first__hole {
  position: absolute;
  bottom: 25px;
  left: 25px;
  height: 50px;
  width: 50px;
  border-radius: 100rem;
  background: radial-gradient(circle, #e6e6e6, #cccccc, #666666);
}
.cog-first__line {
  position: absolute;
  bottom: 15px;
  left: 15px;
  border: 3px solid #3d5671;
  border-radius: 100rem;
  height: 70px;
  width: 70px;
}

.cog-second {
  animation: turning-cog-left 15000ms linear infinite;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10rem;
  background: radial-gradient(circle, #000, #080808, #333333);
}
.cog-second__part {
  margin: auto;
  position: absolute;
  right: -12px;
  left: -12px;
  bottom: 35px;
  height: 8px;
  border-radius: 4px;
  background: radial-gradient(circle, #000, #050505, #262626);
}
.cog-second__part:nth-child(1) {
  transform: rotate(45deg);
}
.cog-second__part:nth-child(2) {
  transform: rotate(90deg);
}
.cog-second__part:nth-child(3) {
  transform: rotate(135deg);
}
.cog-second__part:nth-child(4) {
  transform: rotate(22.5deg);
}
.cog-second__part:nth-child(5) {
  transform: rotate(67.5deg);
}
.cog-second__part:nth-child(6) {
  transform: rotate(112.5deg);
}
.cog-second__part:nth-child(7) {
  transform: rotate(157.5deg);
}
.cog-second__hole {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  background: radial-gradient(circle, #e6e6e6, #cccccc, #666666);
}
.cog-second__line {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 3px solid #3d5671;
  border-radius: 100rem;
  height: 60px;
  width: 60px;
}

.cog-third {
  animation: turning-cog-right 15000ms linear infinite;
  position: relative;
  bottom: 135.5px;
  left: 55px;
  width: 60px;
  height: 60px;
  border-radius: 10rem;
  background: radial-gradient(circle, #000, #080808, #333333);
}
.cog-third__part {
  margin: auto;
  position: absolute;
  right: -12px;
  left: -12px;
  bottom: 25px;
  height: 7px;
  border-radius: 4px;
  background: radial-gradient(circle, #000, #050505, #262626);
}
.cog-third__part:nth-child(1) {
  transform: rotate(45deg);
}
.cog-third__part:nth-child(2) {
  transform: rotate(90deg);
}
.cog-third__part:nth-child(3) {
  transform: rotate(135deg);
}
.cog-third__part:nth-child(4) {
  transform: rotate(22.5deg);
}
.cog-third__part:nth-child(5) {
  transform: rotate(67.5deg);
}
.cog-third__part:nth-child(6) {
  transform: rotate(112.5deg);
}
.cog-third__part:nth-child(7) {
  transform: rotate(157.5deg);
}
.cog-third__hole {
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 30px;
  width: 30px;
  border-radius: 100rem;
  background: radial-gradient(circle, #e6e6e6, #cccccc, #666666);
}
.cog-third__line {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 3px solid #3d5671;
  border-radius: 100rem;
  height: 50px;
  width: 50px;
}

@keyframes turning-cog-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes turning-cog-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-1turn);
  }
}
@keyframes first-dot {
  0%, 20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}
@keyframes second-dot {
  0%, 30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
@keyframes third-dot {
  0%, 40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}
.about-us > * > h1, .about-us h2 {
  margin: 50px 20px;
}
.about-us > * p {
  margin: 20px;
}
.about-us > * > img {
  margin: 50px auto;
  display: block;
  max-width: 100vw;
}
@media screen and (min-width: 1024px) {
  .about-us > * > img {
    max-width: 75vw;
  }
}
.about-us > :last-child {
  margin-bottom: 50px;
}
.about-us a {
  color: #466281;
  font-weight: bold;
}
.about-us .homemade {
  text-align: center;
}
.about-us .homemade > h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
.about-us .homemade > h2::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  top: 0;
  right: 0;
  background: #22303F;
  animation: cursor 1s infinite;
}

@media screen and (min-width: 1278px) {
  .about-us {
    max-width: 70vw;
    margin: 0 auto;
  }
  .about-us__block-0 {
    text-align: center;
  }
  .about-us__block-1 {
    display: grid;
    column-gap: 20px;
  }
  .about-us__block-1 h2 {
    grid-column: 1/3;
  }
  .about-us__block-1 img {
    grid-column: 2/3;
    grid-row: 2/5;
    align-self: center;
  }
  .about-us__block-2__img-1 {
    min-width: 70vw;
  }
  .about-us__block-3 {
    column-gap: 20px;
    display: grid;
  }
  .about-us__block-3__txt-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
  }
  .about-us__block-3__img-1 {
    grid-column: 2/3;
  }
  .about-us__block-3__txt-2 {
    grid-column: 2/3;
    align-self: center;
  }
  .about-us__block-3__img-2 {
    grid-row: 2/3;
  }
  .about-us__block-3__txt-3 {
    grid-column: 1/3;
  }
  .about-us div > img {
    max-width: 35vw;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact > * > h1, .contact h2 {
  margin: 50px 20px;
}
.contact > * p {
  margin: 20px;
  text-align: center;
}
.contact > :last-child {
  margin-bottom: 50px;
}
.contact form {
  border: 1px solid #22303F;
  box-shadow: inset 0 0 5px #22303F;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 80vw;
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  .contact form {
    max-width: 60vw;
  }
}
.contact form label {
  padding-left: 1rem;
}
.contact form textarea {
  vertical-align: top;
  min-height: 100px;
}
.contact form input, .contact form textarea {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  color: #22303F;
}
.contact form input:focus, .contact form textarea:focus {
  padding: 0.2rem 1rem;
  box-shadow: inset 0 0 5px #22303F;
}
.contact form #name-error, .contact form #email-error {
  color: red;
  position: relative;
  bottom: 20px;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 1rem;
  display: none;
}
.contact form input.submit-btn {
  display: block;
  width: 80%;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FAF0E8;
  margin: 20px auto;
  background-color: #466281;
}
.contact form input.submit-btn:hover {
  background-color: #587ca2;
  transform: scale(1.05);
}
.contact form input.submit-btn:active {
  background-color: #466281;
  transform: scale(1);
}

.reception-msg {
  border: 2px solid #22303F;
  box-shadow: 0 0 10px #22303F;
  border-radius: 10px;
  max-width: 80vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.reception-msg p {
  margin: 20px;
}
.reception-msg a {
  display: block;
  margin-bottom: 20px;
}
.reception-msg button {
  display: block;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  color: #FAF0E8;
  min-width: 40%;
  margin: auto;
  background-color: #466281;
}
.reception-msg button:hover {
  background-color: #587ca2;
  transform: scale(1.05);
}
.reception-msg button:active {
  background-color: #466281;
  transform: scale(1);
}

.guide-nz > * > h1, .guide-nz h2, .guide-nz h3 {
  margin: 50px 20px;
}
.guide-nz > * > h4 {
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .guide-nz > * > h4 {
    margin-left: 75px;
  }
}
.guide-nz > * p {
  margin: 20px;
}
.guide-nz > * > img {
  margin: 50px auto;
  display: block;
  max-width: 100vw;
}
@media screen and (min-width: 1024px) {
  .guide-nz > * > img {
    max-width: 75vw;
  }
}
.guide-nz > * > ul {
  list-style-type: circle;
  margin: 20px 20px 20px 40px;
}
.guide-nz > * > ul > li {
  margin: 10px 0;
}
.guide-nz > * a {
  color: #466281;
}

@media screen and (min-width: 1278px) {
  .guide-nz {
    max-width: 70vw;
    margin: 0 auto;
  }
  .guide-nz :first-child > p {
    text-align: center;
  }
  .guide-nz__block-1 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .guide-nz__block-1 h2 {
    grid-column: 1/3;
  }
  .guide-nz__block-1 img {
    grid-column: 2/3;
  }
  .guide-nz__block-1 :nth-child(0n+3) {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
  .guide-nz__block-1 p {
    grid-column: 1/3;
  }
  .guide-nz__block-2 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .guide-nz__block-2 h2 {
    grid-column: 1/3;
  }
  .guide-nz__block-2 h3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .guide-nz__block-2 img {
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: center;
    max-width: 35vw;
  }
  .guide-nz__block-2 :nth-child(0n+4) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .guide-nz__block-2 p {
    grid-column: 1/3;
  }
  .guide-nz__block-3 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .guide-nz__block-3 h2 {
    grid-column: 1/3;
  }
  .guide-nz__block-3 h4 {
    margin-left: 0;
  }
  .guide-nz__block-3 :nth-child(0n+2) {
    grid-column: 2/3;
    grid-row: 2/4;
    max-height: 50vh;
  }
  .guide-nz__block-3 :nth-child(0n+4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .guide-nz__block-3 p, .guide-nz__block-3 ul {
    grid-column: 1/3;
  }
  .guide-nz__block-3 :nth-child(0n+17) {
    grid-column: 2/3;
    grid-row: 15/17;
  }
  .guide-nz__block-3 :nth-child(0n+18) {
    grid-column: 1/2;
  }
  .guide-nz img {
    max-width: 45vw;
  }
}

/*# sourceMappingURL=style.css.map */
