/* General style of the page */
#mainWrapper    
{
    background-color: rgba(232, 179, 135, 0.3);
    color: rgb(25, 22, 17);
}

p
{
    font-size: 1.2em;
}
/* MainImg */
#mainImg
{
    background: url(img/OriginalPaysage.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 785px;
}

/* navigation menu part one creation of the static menu */
#logo
{
    height: 130px;
    margin-top: -20%;
}

:root
{
    --hauteur-menu: 140px;
}

*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

nav
{    
    width: 100%;
    display: flex;
    position: sticky;
    top: 0%;
    text-transform: uppercase; 
    font-size: 1.6em;
}

nav > ul
{
    height: var(--hauteur-menu);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul
{
    list-style-type: none;
}

nav > ul > li
{
        position: relative;
}

nav > ul > li > a
{
    position: relative;
    top: 25%;
}

li a

{
    text-decoration: none;
    color: white;
}
/* The Arrow */

 .dropDownMenu > a::after
{
    content: '>';
    font-size: small;
    padding-left: 5px;
    vertical-align:25%;
    display: inline-block;
}

@keyframes rotateArrow 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(90deg);
    }   
}

.dropDownMenu:hover > a::after
{
    animation: rotateArrow 0.1s forwards;
}


/* Part two cration of th under menu */
.underMenu
{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    background-color: rgba(162, 188, 184, 0.5);
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
}

.underMenu > li > a
{
    display: flex; 
    padding-left: 5%;
    font-size: 0.8em;
    text-transform: lowercase;
}

/* Part three animation on the menu  */

nav > ul > li:hover > a
{
    color:  rgba(54, 75, 93, 1);
}

.underMenu > li:hover > a 
{
    color:   rgba(54, 75, 93, 1);
}


@keyframes underMenuAppear 
{
    0%
    {
        border-top: rgba(162, 188, 184, 0.5);
    }
    100%
    {
        max-height: 100%;
    }
}

.dropDownMenu:hover > .underMenu
{
    animation: underMenuAppear 1s forwards;
}

/* Arrow to go back on top of the page */
#arrowUp
{
    opacity: 0.6; 
    max-width: 50px;
}

#scrollUp
{
    position: fixed;
    bottom: 10px;
    right: 50px;
    
}

/* SecondBlock our presentation */

section
{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 48, 63);
    color: white;
}

article
{

    margin-top: 3%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 3%;
}

#introduction > p > a
{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: white;
}

#introduction > p > a:hover
{
    font-size: 1.6em;
}

#imgUs
{
    max-width: 35%;
    max-height: 65%;
    border-radius: 10px;
}

#introduction > p
{
    margin-left: 100px;
    padding: 10px;
}

/* benner with our 2 last article */
#banner
{
    background-image: url('img/originalEarth.png');
    margin-top: 5%;
    border: 1px solid black;
    height: 200px;
}

#bannerDescription
{
    display: flex;
}

.description
{
    border: 2px solid black;
    position: relative;
    min-width: 90%;
    top: 156px;
    color: brown;
    background-color: black;
}

.bouton
{
    text-decoration: none;
    color: brown;
    background-color: black;
    font-size: 1.2em;
    border: 2px solid black;
    position: relative;
    top: 175px;
    min-width: 9.5%;
    max-height: 22px;

}

/* La map */
#ourMap
{
    margin-top: 5%;
    background-color: brown;
    text-align: center;
    border: 1px solid black;
    height: 200px;
}

#map
{
    margin-top: 100px;
}

footer
{
    display: flex;
    margin-top: 5%;
    border: 1px solid black;
    height: 200px;
}