.about-us {
  background-color: (map-get($colors, secondary));
  margin: auto;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    max-height: 200px;
    @include main-border(map-get($colors, border));
  }
  &__text {
    padding: 0 5%;
    text-align: center;
    max-width: 66%;
    line-height: 2;
    a {
      transition: 400ms ease-in-out;
      &:hover {
        display: inline-block;
        transform: rotate(360deg);
      }
    }
  }
}


.comming-soon {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    color: (map-get($colors, secondary));
    font-size: 2rem;
}

.rectangle {
  height: 60px;
  width: 500px;
  border-radius: 10px;
  border: 3px solid blue;
  &--jaune {
    background-color: yellow;
  }
}



