.intro {
  background-color: map-get($colors, secondary);
  color: #fff;
  > * > h1, h2 {
    @include article-title;
  }
  > * > p {
    @include article-p;
  }
  > * > img {
    @include article-img;
  }
  > :first-child  > :first-child {
    margin-top: 0;
    padding-top: 50px;
  }
  >:first-child > :nth-child(0n+2) {
    text-align: center;
  }
  > :last-child > :last-child {
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}

.container-last-article {
  h1 {
    color: lighten(map-get($colors, secondary),15);
    margin: 50px 0 30px;
    text-transform: uppercase;
  }
  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    @include medium-plus-screen {
      justify-content: space-evenly;
    }
    > * > div {
      scroll-snap-align: center;
      color: map-get($colors, primary);
      display: flex;
      max-width: 80vw;
      margin: 20px 10vw 50px;
      flex-direction: column;
      background-color: lighten(map-get($colors, secondary),15);
      box-shadow: 1px 1px 20px darken(map-get($colors, secondary),5);
      transition: all 200ms ease-in-out;
      @include tiny-plus-screen {
        max-width: calc(100vw / 2);
        margin: 30px calc(20vw * 2);
      }
      @include medium-plus-screen {
        max-width: 30vw;
        margin: 0;
        margin-bottom: 40px;
      }
      &:active {
        transform: scale(0.95);
      }
      h2 {
        padding: 25px 10px;
        text-align: center;
        text-transform: uppercase;
      }
      .date {
        letter-spacing: 0.1rem;
        text-align: right;
        padding: 20px 25px;
      }
      .read-article {
        letter-spacing: 0.15rem;
        text-align: left;
        padding: 20px 25px;
        font-size: 1.5rem;
        span {
          @include nav-arrow(map-get($colors, primary));
          display: inline-block;
          position: relative;
          left: 10px;
          bottom: 2.5px;
          transform: rotate(.75turn);
        }
      } 
    }
  }
  .slider {
    text-align: center;
    @include medium-plus-screen {
      display: none;
    }
    > a {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10rem;
      margin-bottom: 50px;
      background-color: map-get($colors, secondary);
      &:nth-child(1) {
        margin-right: 10px;
      }
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}

.separation-line-article {
  height: 1.5px;
  width: 60vw;
  margin: auto;
  box-shadow: 0 0 10px map-get($colors, secondary);
  background-color: map-get($colors, secondary);
}