.background-header {
  background: url('../Img/OriginalPaysage.jpg') no-repeat;
  background-size: cover;
  height: 850px;
  &--linear-gardiant {
    background: none;
    background-color: red;
    height: 200px;
  }
}