@include medium-screen {
  body {
    height: 100%;
  }
  
  .main-menu {
    border-top: 2px solid map-get($colors, primary);
    @include menu-style;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 48.4% 30%, lighten(map-get($colors, secondary),3),lighten(map-get($colors, secondary),6),lighten(map-get($colors, secondary),9), lighten(map-get($colors, secondary),12));
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
    position: absolute;
    left: -280px;
    transition: left 500ms ease;
    .nav-arrow, .nav-arrow-2 {
      margin-top: 5px;
      display: inline-block;
      position: absolute;
      right: 10px;
      @include nav-arrow;
      transition: all 300ms ease;
      transform: rotate(0.75turn);
    }
    .rotate-arrow {
      transform: rotate(1turn);
    }
    .drop-menu:first-child {
      margin-top: 80px;
    }
    .drop-menu, .drop-menu-2, a {
      cursor: pointer;
      display: block;
      padding: 15px;
      & > ul {
        font-size: 1.1rem;
        & > li > ul {
          font-size: 1rem;
        }
      }
      .under-menu, .under-menu-2  {
        position: absolute;
        transform: scale(0);
      }
      &:hover {
        transition: all 250ms ease-in-out;
        background: lighten(map-get($colors, secondary),12);
        border-bottom: 0.5px solid map-get($colors, primary);                                        
      }
    }
    &::-webkit-scrollbar {
      display: none;
    } 
  }
  /* background au click */
  .background-li {
    background: lighten(map-get($colors, secondary),10);
    border-bottom: 0.5px solid map-get($colors, primary);
  }

  /* Open side menu */
  .active {
    left: 0px;
  }

  /* Opacity page when menu open */
  .opacity-page {
    opacity: 0.8;
  }

  /* look scroll when menu open*/
  .lock-page {
    overflow: hidden;
  }

  /* Icône burger */
  #open-btn {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .burger-line {
      transition: all 400ms 20ms ease-in-out;
      position: relative;
      display: block;
      height: 3px;
      width: 30px;
      border-radius: 10rem;
      background-color: map-get($colors, primary);
      &:before, &::after {
        content: '';
        position: relative;
        display: block;
        height: 3px;
        width: 30px;
        border-radius: 10rem;
        background-color: map-get($colors, primary);
      }
      &:before {
        top: 10px;
      }
      &::after {
        bottom: 13px;
      }
    }
  }
}
.close-burger .burger-line
 {
  transform: rotate(225deg);
}
.close-burger .burger-line::before {
  transform: scale(0);
}
.close-burger .burger-line::after {
  transform: rotate(-270deg);
  top: -3px;
}
