.background-main {
  background-image: url("../Img/home/home-page.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.background {
  background-color: lighten(map-get($colors, secondary),50);
  min-height: 28vh;
  max-height: 28vh;
  @include medium-plus-screen {
    min-height: 25vh;
    max-height: 25vh;      
  }
}

.logo {
  display: block;
  padding-top: 25px;
  margin: 0 18px 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  font-size: 1.5rem;
  color: lighten(map-get($colors, secondary),20);
  font-family: map-get($font-family, logo);
  @include tiny-plus-screen {
    align-items: center;    
  }
  @include small-plus-screen {
    justify-content: center;
    gap: 15px;
    p {
      font-size: 3.2rem;
    }
  }
  img {
    max-width: 80px;
    @include small-plus-screen {
      min-width: 100px;
    }
  }
}

//open side with same annimation to main and logo 
.side-logo {
  transform-origin: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  background: lighten(map-get($colors, secondary),20);
  @include tiny-plus-screen {
    padding: 18px 18px 18px 0;
    gap: 10px;
    font-size: 2.2rem;
  }
  @include small-plus-screen {
    padding-left: 80px;
    padding-top: 25px;
    justify-content: center;
    gap: 15px;
    p {
      font-size: 3.2rem;
    }
  }
  img {
    height: 60px;
    margin: 10px;
    @include tiny-plus-screen {
      height: 80px;
      margin: 0;
    }
    @include small-plus-screen {
      width: 100px;
      height: 100px;
    }
  }
}
@media screen and (max-width: 1278px ) {
#open-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 15px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tiny-plus-screen {
    top: 30px;
  }
  @include small-plus-screen {
    left: 40px;
    top: 48px;
    transform: scale(1.5);
  }
  @include large-screen {
    display: none;
  }
  .burger-line {
    padding: 0;
    transition: all 400ms 20ms ease-in-out;
    position: relative;
    display: block;
    height: 3px;
    width: 32.5px;
    border-radius: 10rem;
    background-color: lighten(map-get($colors, secondary),10);
    &:before, &::after {
      content: '';
      position: relative;
      display: block;
      height: 3.5px;
      width: 32.5px;
      border-radius: 10rem;
      background-color: lighten(map-get($colors, secondary),10);
    }
    &:before {
      top: 9px;
    }
    &::after {
      bottom: 13px;
    }
  }
}
}
.close-burger .burger-line {
  transform: rotate(225deg);
  &::before {
    transform: scale(0);
  }
  &::after {
    transform: rotate(-270deg);
    height: 3px;
    top: -3.5px;
  }
}
//menu for small screen
@media screen and (max-width: 1278px ) {
.main-menu {
    z-index: 1;
    list-style-type: none;
    transform-origin: left;
    border-top: 2px solid map-get($colors, primary);
    @include menu-style;
    display: flex;
    flex-direction: column;
    transform: scaleX(0);
    background: lighten(map-get($colors, secondary),20);
    height: 100vh;
    padding-bottom: 20vh;
    overflow: scroll;
    @include small-plus-screen {
      font-size: 2rem;
    }
    .nav-arrow, .nav-arrow-2 {
      margin-top: 5px;
      display: inline-block;
      position: absolute;
      right: 10px;
      @include nav-arrow(map-get($colors, secondary));
      transition: all 300ms ease;
      transform: rotate(0.75turn);
    }
    .rotate-arrow {
      transform: rotate(1turn);
    }
    .drop-menu, .drop-menu-2, a {
      color: map-get($colors, primary);
      cursor: pointer;
      display: block;
      padding: 10px 10px;
      @include small-plus-screen {
        padding: 30px 15px;
      }      
      & > ul {
        font-size: 1.1rem;
        letter-spacing: .2rem;
        @include small-plus-screen {
          font-size: 1.8rem;
        }    
        & > li > ul {
          font-size: 1rem;
          letter-spacing: .1rem;
          @include small-plus-screen {
            font-size: 1.6rem;
          }
      
        }
      }
      .under-menu, .under-menu-2  {
        margin-top: 10px;
        max-height: 0;
        overflow: hidden;
        transform: scale(0);
      }
    }
    &::scrollbar {
      display: none;
    }
    a:hover, .drop-menu:hover  {
      background-color: lighten(map-get($colors, secondary),30);
    }
    .drop-menu li:hover a, .drop-menu li:hover {
      background-color: lighten(map-get($colors , secondary),40);
    }
    .drop-menu-2 li:hover a {
      background-color: map-get($colors, secondary);      
    }
  }
  @keyframes show-side-menu {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  @keyframes show-under-menu {
    from {
      max-height: 0;
      transform: scale(0);
    }
    to {
      transform: scale(1);
      max-height: 50rem;
    }
  }
  // background on click
  .background-drop-menu {
    background: lighten(map-get($colors, secondary),30);
    border-bottom: 0.5px solid map-get($colors, primary);
  }
  .background-drop-menu-2 {
    background: lighten(map-get($colors, secondary),40);
  }
  .show-under-menu {
    animation: show-under-menu 400ms ease-in-out forwards;
  }
  // Open side menu
  .show-side-menu {
    animation: show-side-menu 300ms ease-in-out forwards;
  }
}
// Lock page
.lock-page {
  overflow: hidden;
}
@include large-screen {
  .separation-line-menu {
    width: 96vw;
    height: 2px;
    background-color: lighten(map-get($colors, secondary),20);
    margin: 20px auto;
  }
  .main-menu {
    color: lighten(map-get($colors, secondary),20);
    @include menu-style;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    list-style-type: none;
    > li > a {
      color: lighten(map-get($colors, secondary),20);      
    }
    .nav-arrow {
      display: inline-block;
      position: relative;
      margin-bottom: 2.5px;
      margin-left: 10px;
      @include nav-arrow(map-get($colors, secondary));
      transition: all 300ms ease-in-out;
      transform: rotate(0.75turn);
    }
    .drop-menu:hover .nav-arrow {
      transform: rotate(1turn);
    }
    .under-menu li {
      color: map-get($colors, primary);
      font-size: 1rem;
      letter-spacing: 1px;
      padding: 10px;
    }
    .under-menu {
      background: lighten(map-get($colors, secondary),30);
      position: relative;
      transform: scale(0);
      max-height: 0;
      transform-origin: top;
    }
    .nav-arrow-2 {
      display: inline-block;
      position: absolute;
      margin-top: 4.5px;
      right: 10px;
      transition: all 300ms ease-in-out;
      @include nav-arrow(map-get($colors, primary));
    }
    .under-menu li:hover .nav-arrow-2 {
      transform: rotate(-0.25turn);
    }
    .under-menu li:hover {
      background: map-get($colors, secondary);
    }
    .drop-menu:hover .under-menu {
      overflow: visible;
      animation: show-under-menu-1 400ms ease-in-out forwards;
    }
    .under-menu-2 {
      position: absolute;
      background: lighten(map-get($colors, secondary),30);
      left: 100%;
      transform: translateY(-31px);
      max-width: 0;
      overflow: hidden;
    }.under-menu-2--photo {
      left: 100%
    }

    .drop-menu-2:hover .under-menu-2 {
      animation: show-under-menu-2 400ms ease-in-out forwards;
    }
  }
  @keyframes show-under-menu-1 {
    from {
      transform: scale(0);
      max-height: 0;
    }
    to {
      transform: scale(1);
      max-height: 50rem;
    }
  }
  @keyframes show-under-menu-2 {
    from {
      max-width: 0;
    }
    to {
      max-width: 50rem;
    }
  }

  //arrow to return to the top page
  .top-arrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    position: fixed;
    .first-part {
      background: lighten(map-get($colors, secondary),15);
      height: 35px;
      width: 8px;
      border-radius: 10rem;
    }
    .second-part {
      position: absolute;
      bottom: 15px;
      left: 15px;
      background: lighten(map-get($colors, secondary),15);
      height: 25px;
      width: 8px;
      border-radius: 10rem;
      transform: rotate(45deg);
    }
    .third-part {
      position: absolute;
      bottom: 15px;
      right: 15px;
      background: lighten(map-get($colors, secondary),15);
      height: 25px;
      width: 8px;
      border-radius: 10rem;
      transform: rotate(-45deg);
    }
  }
}