/* Arrow to go back on top of the page *
* Position of the arrow *
* personalisation arrow */
.scroll-up {                      
  position: fixed;
  bottom: 10px;
  right: 50px;
  &__arrow {                    
    opacity: 0.6; 
    max-width: 50px;
  }
}
