html {
  font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($colors, primary);
    color: lighten(map-get($colors, secondary),20);
    font-family: map-get($font-family, main);
  }

h1, h2, h3 {
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: map-get($font-size, h1);
  @include large-screen {
    font-size: map-get($font-size-large-screen, h1);    
  }
}

h2 {
  font-size: map-get($font-size, h2);
  @include large-screen {
    font-size: map-get($font-size-large-screen, h2);    
  }
}

h3 {
  font-size: map-get($font-size, h3);
  @include large-screen {
    font-size: map-get($font-size-large-screen, h3);    
  }
}

h4 {
  font-size: map-get($font-size, h4);
  @include large-screen {
    font-size: map-get($font-size-large-screen, h4);    
  }
}

p, ul {
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  @include small-plus-screen {
    line-height: 2.5rem;
  }
}

a {
  color: map-get($colors, primary);
  text-decoration: none;
  font-family: map-get($font-family, main);
}