* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($colors, primary);
    font-family: map-get($font-family, text);
    font-size: map-get($font-size, text);
    color: map-get($colors, primary);
  }
  
  h1 h2 h3 {
    font-family: map-get($font-family, title);
  }

  h1 {
    font-size: map-get($font-size, h1);
  }
  
  h2 {
    font-size: map-get($font-size, h2);
  }
  
  h3 {
    font-size: map-get($font-size, h3);
  }

  a {
    color: map-get($colors, primary);
    text-decoration: none;
  }