@mixin small-screen() {
  @media screen and (max-width : map-get($breakpoint, small-screen)) {
  @content;
  }
}

@mixin medium-screen() {
  @media screen and (max-width : map-get($breakpoint, medium-screen)) {
  @content;
  }
}

@mixin large-screen() {
  @media screen and (max-width : map-get($breakpoint, large-screen)) {
  @content;
  }
}

//chose the good color in function of the back-ground
@mixin good-color-for-good-bg($bg-color) {
  @if($bg-color == map-get($colors, primary))
  {
    color: map-get($colors, secondary);
  }
  @else {
    color: map-get($colors, primary);
  }
}

//menu style
@mixin menu-style {
  font-family: map-get($font-family, title);
  font-size: map-get($font-size, menu );  
  letter-spacing: 10px;
  text-transform: uppercase;
}

//menu small-arrown to indicated drop down menu
@mixin nav-arrow {
  border-style: solid;
  border-color: map-get($colors, primary ) transparent transparent transparent;
  border-width: 16px 7px 0 7px;
  height: 0px;
  width: 0px;
}

@mixin main-border($color) {
  border-width: 1px;
  border-style: solid;
  border-color: $color;
  border-radius: 10px;
  box-shadow: 2px 1px;
}