/* website color */
$colors: (
  primary:#ffffff,
  secondary: #000000,
  tertiary: #22303F,
);

$space: 1.5rem;

/* Police size */
$font-size: (
  h1: 2rem,
  h2: 1.5rem,
  h3: 1.3rem,
  h4: 1.1rem,
  menu: 1.3rem,
  text: 1rem
);

$font-size-large-screen: (
  h1: 2.8rem,
  h2: 2.1rem,
  h3: 1.8rem,
  h4: 1.5rem,
);

/* Font-family */
$font-family: (
  logo: 'flanellaregular',
  title: 'caviar_dreamsregular',
  main: 'montserrat_alternateslight'
);

/* Media size : breakpoint */
$breakpoint: (
  tiny-screen       : 320px,
  tiny-plus-screen  : 484px,
  small-screen      : 640px,
  small-plus-screen : 768px,
  medium-screen     : 960px,
  medium-plus-screen: 1023px,
  large-screen      : 1278px,
  large-plus-screen : 1440px,
  extra-large-screen: 1600px,
  ultra-large-screen: 1920px,
);