/* website color */
$colors: (
  primary:#FAF0E8,
  secondary: #22303F,
  border: #62767B,
);

$space: 1.5rem;

/* Police size */
$font-size-small-screen: (
  h1: 2rem,
  h2: 1.5rem,
  h3: 1.3rem,
  h4: 1.1rem,
  menu: 1.3rem,
  text: 1rem
);

$font-size-medium-screen: (
  h1: 3rem,
  h2: 2.5rem,
  h3: 2.3rem,
  h4: 2.1rem,
  menu: 2.3rem,
  text: 2rem
);

/* Font-family */
$font-family: (
  logo: 'flanellaregular',
  main: 'caviar_dreamsregular'
);

/* Media size : breakpoint */
$breakpoint: (
  tiny-screen       : 320px,
  tiny-plus-screen  : 484px,
  small-screen      : 640px,
  small-plus-screen : 768px,
  medium-screen     : 960px,
  medium-plus-screen: 1024px,
  large-screen      : 1278px,
  large-plus-screen : 1440px,
  extra-large-screen: 1600px,
  ultra-large-screen: 1920px,
);