/* website color */
$colors: (
  primary:#FAF0E8,
  secondary: #22303F,
  border: #62767B,
);

/* Police size */
$font-size: (
  h1: 2.8rem,
  h2: 2.2rem,
  h3: 1.6rem,
  menu: 1.3rem,
  text: 1.2rem
);

/* Font-family */
$font-family: (
  logo: 'flanellaregular',
  title: 'caviar_dreamsregular',
  text: 'caviar_dreamsregular'
);

/* Media size : breakpoint */
$breakpoint: (
  tiny-screen       : 320px,
  tiny-plus-screen  : 484px,
  small-screen      : 640px,
  small-plus-screen : 768px,
  medium-screen     : 960px,
  medium-plus-screen: 1024px,
  large-screen      : 1280px,
  large-plus-screen : 1440px,
  extra-large-screen: 1600px,
  ultra-large-screen: 1920px,
);